.App {
  text-align: center;
  width: 500px;
  height: 500px;
}
.App li{
  border: 1px solid rgb(102, 4, 77);
  color: rgb(226, 47, 77);
  background-color: rgb(250, 167, 246);
  font-size: 25pt;
  margin: 10px;
  border-radius: 5px;
  /* padding: 10px; */
  
}

